<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Veterinários</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clique no título da coluna para ordenar</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CRVM</th>
                            <th>#ID</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each vets}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.crvm}}</td>
                            <td>{{this.identifier}}</td>
                            <td class="text-center">
                                <div>
                                    {{!-- <a href="">
                                        <i class="far fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                                    </a> --}}
                                    <a class="deleteModal" identifier="{{this._id}}" name="{{this.name}}" href="#"
                                        data-toggle="modal" data-target="#defaultModal">
                                        <i class="far fa-trash-alt fa-sm fa-fw mr-2 text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->