<!-- Begin Page Content -->
<div class="modal fade show d-flex align-items-center justify-content-center" id="loaderModal" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row ms-auto">
        <div class='ml-3 mr-2 mt-4 mb-4 m-1 bg-image'></div>
        <div class='m-1 mt-4 mb-4 bg-sbc-image'></div>
    </div>


    <!-- Page Heading -->
    <h1 class="h4 mb-2 text-gray-800">FERRAMENTA PARA EXTRAÇÃO DE DADOS DA BIBLIOTECA DIGITAL DA SOCIEDADE BRASILEIRA DE
        COMPUTAÇÃO</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="row ms-auto mb-4 mt-4 m-2">
            <form id="target" class='user col-12' action='/' method='post'>

                {{!-- Search --}}
                <label for="inputWord">Pesquisa</label>
                <div class="row mb-0">
                    <div class='form-group col-12'>
                        <input type='string' class='form-control form-control-user' id='inputWord'
                            aria-describedby='searchWord' name='searchWord'
                            placeholder='Pesquise aqui suas palavras chaves...' value="{{forms.searchWord}}" required />
                    </div>
                </div>

                {{!-- Archives --}}

                <label for="customCheck1">Bases</label>
                <div class="row form-group">
                    <div class="custom-control custom-checkbox custom-checkbox-green form-check-inline">
                        <input type="checkbox" class="custom-control-input custom-control-input-green" name="archives"
                            value="archiveIds%5B%5D=1" id="customCheck1" {{#contains forms.archives 'archiveIds%5B%5D=1'
                            }}checked{{/contains}}>
                        <label class="custom-control-label" for="customCheck1">Anais de Eventos</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-checkbox-green form-check-inline">
                        <input type="checkbox" class="custom-control-input custom-control-input-green" name="archives"
                            value="archiveIds%5B%5D=2" id="customCheck2" {{#contains forms.archives 'archiveIds%5B%5D=2'
                            }}checked{{/contains}}>
                        <label class="custom-control-label" for="customCheck2">Periódicos</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-checkbox-green form-check-inline">
                        <input type="checkbox" class="custom-control-input custom-control-input-green" name="archives"
                            value="archiveIds%5B%5D=3" id="customCheck3" {{#contains forms.archives 'archiveIds%5B%5D=3'
                            }}checked{{/contains}}>
                        <label class="custom-control-label" for="customCheck3">Livros e relatórios</label>
                    </div>
                </div>

                {{!-- Date --}}

                <label for="fecha1">Período</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col datepicker date input-group">
                            <input type="text" placeholder="Início" class="form-control" id="fecha1" name="initialDate"
                                value="{{forms.initialDate}}">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col datepicker date input-group">
                            <input type="text" placeholder="Término" class="form-control" id="fecha2" name="finalDate"
                                value="{{forms.finalDate}}">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <button onclick="showLoading()" id="submit" type='submit'
                    class='col-sm-4 btn btn-primary btn-user btn-block'>
                    Pesquisar
                </button>
            </form>
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <div class="d-flex justify-content-end">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff"
                                class="bi bi-save" viewBox="0 0 16 16">
                                <path
                                    d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                            </svg>
                            Exportar
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="tableExport('csv')">CSV</a>
                            <a class="dropdown-item" onclick="tableExport('excel')">Excel</a>
                            <a class="dropdown-item" onclick="tableExport('pdf')">PDF</a>
                            <a class="dropdown-item" onclick="tableExport('doc')">DOC</a>
                            <a class="dropdown-item" onclick="tableExport('txt')">TXT</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" onclick="tableExport('json')">JSON</a>
                            <a class="dropdown-item" onclick="tableExport('xml')">XML</a>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered" style="overflow-y: auto;" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Ano</th>
                            <th>Autores</th>
                            <th>Resumo</th>
                            <th>Publicado em:</th>
                            <th>Tipo</th>
                            <th>DOI</th>
                            <th>PDF</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                        <tr>
                            {{#if this.url}}
                            <td><a href="{{this.url}}" target="_blank">{{this.title}} </a></d>
                                {{else}}
                            <td>{{this.title}}</d>
                                {{/if}}
                            <td>
                                {{#if this.year}}{{this.year}}{{else}}---{{/if}}
                            </td>
                            <td>
                                {{#if this.authors}}{{this.authors}}{{else}}---{{/if}}
                            </td>
                            <td>
                                <div style="width:300px; height:300px; overflow:auto">
                                    {{#if this.abstract}}{{this.abstract}}{{else}}---{{/if}}
                                </div>
                            </td>
                            <td>{{#if this.publicated}}{{this.publicated}}{{else}}---{{/if}}</td>
                            <td>{{#if this.type}}{{this.type}}{{else}}---{{/if}}</td>
                            <td><a href="{{this.DOI}}" target="_blank">{{#if this.DOI}}DOI{{/if}}</a></td>
                            <td><a href="{{this.PDF}}" target="_blank">{{#if this.DOI}}PDF{{/if}}</a></td>
                            <td><a href="{{this.url}}" target="_blank">{{#if this.url}}Link{{/if}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function tableExport(type) {
        const fileName = $('#inputWord').val()
        $('#dataTable').tableExport(
            {
                fileName,
                type,
                onCellHtmlData: function (cell, rowIndex, colIndex, htmlData) {
                    if ($(cell).find('a').length > 0) {
                        let link = $(cell).find('a').attr('href')
                        if (colIndex == 0) {
                            return htmlData;
                        } else {
                            return link;
                        }
                    }
                    return htmlData;
                }
            }
        );
    }
</script>